@media screen and (max-width: 800px) {

    .panel,
    .container {
        position: relative;
        width: 100%;
        top: initial;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-height: 300px) {
    .weather-app {
        min-height: 40em;
    }
}